<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Información</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Ver Gafas</ion-item>
        <ion-item>Añadir Gafas</ion-item>
        <ion-item>Modificar Gafas</ion-item>
        <ion-item>Borrar Gafas</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
