<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="information-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <!-- IKEVEO -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
       <ion-title size="large">IKEVEO</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <ion-button href="/list" color="warning">Listado de Gafas</ion-button>
  </div>
</ion-content>
